@model IEnumerable<Drink>
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>

        table, th, td {
            border: 1px solid black;

        }

        #box {
          box-sizing: content-box;  
          width: 200px;
          height: 50px;
          padding: 15px;  
          border: 10px solid black;
        
        }
    </style>
@{
    var listofDrink = new List<Drink>();

    foreach (var p in Model)
    {
        listofDrink.Add(p);
    }

    Drink[] Menu = listofDrink.ToArray();
    Array.Sort(Menu, delegate (Drink drink1, Drink drink2)
    {
        return drink1.DrinkType.CompareTo(drink2.DrinkType);
    });
}

@if (ViewBag.drink != null)
{
    foreach (var p in Menu)
    {
        if (p.DrinkType == "Beer")
        {
                <div id="box">

                    @p.DrinkName: @p.Price

                </div>  
        }
    }
}
else
{
    foreach (var p in Menu)
    {
        <div id="box">
            <h2>
                <a asp-action="Index"
                   asp-controller="Order"
                   asp-route-name="@p.DrinkName">@p.DrinkName : @p.Price</a>
            </h2>
        </div>
        @*<a asp-action="Test"
              asp-route-name="@p.DrinkName">
            @p.DrinkName</a>*@
    }
}

